.crgtask-profile-picture img {
    width: 350px;
    height: 330px;
    margin-top: 45px;
}

.crgtask-title-contact-me {
    font-weight: 600;
    font-size: 27px;
    margin: 20px 0 20px 0;
}

#crgtask-section-page-about {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.crgtask-social-medias {
    width: 350px;
}

.crgtask-social-media-item p {
    margin-bottom: 20px;
}

@media(max-width: 378px) {
    .crgtask-profile-picture img {
        width: 283px;
        height: 260px;
    }

    .crgtask-title-contact-me {
        font-size: 22px;
    }

    .crgtask-social-media-item {
        padding: 0 20px;
    }

    .crgtask-social-medias {
        width: 300px;
    }
}