header {
    height: 68px;
    width: 100%;
    background-color: var(--crgtask-bg-color-primary);
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crgtask-navlinks {
    display: flex;
}

.crgtask-navlinks p {
    padding: 15px;
    font-size: 18px;
    font-weight: 400;
    color: var(--crgtask-font-color-primary);
}