#crgtask-task-section-page {
    padding: 0 20px;
    align-items: center;
}

.crgtask-navigate-create-new-task {
    margin-bottom: 35px;
}

.crgtask-navigate-create-new-task h2 {
    font-size: 28px;
    font-weight: 600;
    color: var(--crgtask-font-color-tertiary);
    margin-bottom: 10px;
}