.crgtask-not-foun-page-section h1 {
    font-size: 48px;
    font-weight: 700;
    color: var(--crgtask-color-error);
    margin-top: 45px;
    margin-bottom: 45px;
}

.crgtask-not-foun-page-section h3 {
    font-size: 28px;
    font-weight: 600;
    color: var(--crgtask-font-color-secondary);
    margin-bottom: 45px;
}

#crgtask-not-found-page {
    padding: 0 20px;
}