.crgtask-btn-secondary {
    padding: 5px;
    height: 56px;
    width: 154px;
    background-color: var(--crgtask-bg-color-tertiary);
    border: 1px solid var(--crgtask-border-color-primary);
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    color: var(--crgtask-font-color-tertiary);
    cursor: pointer;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.3);
}