@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

:root {
  --crgtask-bg-color-primary: #22BA73;
  --crgtask-bg-color-secondary: #3483FA;
  --crgtask-bg-color-tertiary: #FFFFFF;
  --crgtask-bg-color-quartenary: #8BE391;
  --crgtask-bg-color-quintenary: #25A650;
  --crgtask-bg-color-senary: #F33333;

  --crgtask-border-color-primary: #3483FA;

  --crgtask-font-color-primary: #FFFFFF;
  --crgtask-font-color-secondary: #22BA73;
  --crgtask-font-color-tertiary: #3483FA;
  --crgtask-font-color-quartenary: #EEFF00;

  --crgtask-color-error: #F33333;
}

a, a:hover {
  color: unset;
  text-decoration: none;
}

.crgtask-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.mt45 {
  margin-top: 45px;
}

.dinline {
  display: inline;
}

.dflex {
  display: flex;
}